* {
  margin: 0;
  padding: 0;
}

html,
body,
.body-wrapper {
  height: 100%;
}

body {
  background-image: url(bg.png);
  background-size: auto auto;
  background-position: 0 0;
  // animation: body_bg 400s infinite linear;
}

@keyframes body_bg {
  to {
    background-position: 100vw 50vh;
  }
}
.body-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 20px;
}

header,
main,
footer {
  // width: 100%;
}

.hidden-item {
  display: none;
}